@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-image: url('imagens/fundo.jpg');
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}

.text1{
    padding-left: 600px;
    height: auto;
}

#text-realizada{
    font-family: 'Montserrat', sans-serif, bold;
    color: #00faff;
}

.text2{
    font-family: 'Montserrat', sans-serif, bold;
    padding-left: 580px;
    height: auto;
}

#obrigado{
    font-size: 120px;
    color: #00eb02;
}

.button1{
    padding-left: 1000px;
}

#button-vamos-ao-show{
    width: 180px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #00b39e;
    border: none;
    border-radius: 35px;
}

#button-vamos-ao-show:hover{
    background-color: #121212;
}

.principal{
    display: flex;
    flex-direction: column;
}

.parte1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.column{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#text-obrigado-por-se-inscrever{
    font-size: 12px;
}

strong{
    color: #00faff;
}

#text-lembretes{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 500px;
}

#text-lives{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top: 30px;
}

.parte2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

#text-aproveite{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

b{
    color: #00eb02;
}

#text-canal{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    width: 1000px;
}

#recomendamos{
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.button-entrar{
    padding-bottom: 250px;
}

#button-entrar{
    width: 100px;
    height: 40px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background-color: #00eb02;
    color: #FFFFFF;
    margin-top: 30px;
}

#button-entrar:hover{
    background-color: #000000;
}

.rodape{
    display: flex;
    flex-direction: row;
}

.column2{
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    margin-top: 300px;
    width: auto;
}

#text-live{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
}

#text-sesi{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

#ir-para{
    width: 120px;
    height: 40px;
    border: none;
    background-color: #ff0000;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

#ir-para:hover{
    background-color: #ab0000;
}

#data{
    padding-top: 360px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    padding-left: 200px;
    padding-bottom: 50px;
}

footer{
    background-image: url('imagens/fundo2.png');
    width: 100%;
    height: 800px;
}